@media print { @page {size: auto !important} }

td, th{
    padding: 0px 5px !important;
}

.d-print-none{
    display:none !important;
}

.d-print-show{
    display:block !important;
}

@media print {
    .fs {page-break-after: always;}
    td, th{
       font-weight:600;
    }
  }
